.scroll-up {
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    /* zamiast right */
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: var(--color-accent);
    color: var(--color-bg);
    border: none;
    cursor: pointer;
    font-size: 2rem;
    display: none;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.7rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    transition: var(--transition);
    z-index: 999;
}

.scroll-up:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .scroll-up {
        left: 1.2rem;
        bottom: 1.2rem;
        width: 50px;
        height: 50px;
        font-size: 1.8rem;
        padding-bottom: 0.7rem;
    }
}

@media (max-width: 410px) {
    .scroll-up {
        left: 1.2rem;
        bottom: 1.2rem;
        width: 40px;
        height: 40px;
        font-size: 1.5rem;
        padding-bottom: 0.6rem;
    }
}